RewriteEngine On
RewriteCond %{QUERY_STRING} ^post=([^&\s]+)$
RewriteRule ^(?:post\.php|)$ /%1? [R=301,L]

RewriteCond %{QUERY_STRING} ^post=([^&\s]+)&post=([^&\s]+)$
RewriteRule ^(?:post\.php|)$ /%1/%2? [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\s\/]+)/?$ post.php?page=$1&r [L,QSA]